<table class="mdl-data-table mdl-js-data-table" *ngIf="scouts">
    <thead>
    <tr>
      <th *ngFor="let header of headers" class="mdl-data-table__cell--non-numeric">{{ header }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of scouts">
      <td class="mdl-data-table__cell--non-numeric" (click)="openite(ongoingorders,item)">{{ item.user }}</td>
      <td class="mdl-data-table__cell--non-numeric" (click)="openite(ongoingorders,item)">{{ item.userDetails.Address }}</td>
      <td class="mdl-data-table__cell--non-numeric" (click)="openite(ongoingorders,item)">{{ item.userDetails.City }}</td>
      <td class="mdl-data-table__cell--non-numeric" (click)="openite(ongoingorders,item)">{{ item | distance:cOrder.pickDetails }}</td>
      <td class="mdl-data-table__cell--non-numeric" (click)="openite(ongoingorders,item)">{{ item.userDetails.orderid }}</td>
      <td class="mdl-data-table__cell--non-numeric"><button id="astask"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue" (click)="openmodal(item)"  data-toggle="modal" data-target="#myModal">assign task</button></td>
    </tr>
    </tbody>
  </table>