<div class="maintasklist">
  <div class="example-list">
    <h4 *ngIf="showTitle">Completed Task</h4>
    <span *ngFor="let item of onGoingOrder">
      <div class="example-box" *ngIf="item.Status == 2">
        <span class="material-icons">
          done_all
        </span>
        {{ item.Address }}, {{ item.City }},
        {{ item.State }}, {{item.Type}}
      </div>
    </span>
  </div>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <h4 *ngIf="showTitle">Ongoing Task</h4>
    <span *ngFor="let item of onGoingOrder">
      <div class="example-box" cdkDrag *ngIf="item.Status != 2">
        <span class="material-icons">
          done
        </span>
        {{ item.Address }}, {{ item.City }},
        {{ item.State }}, {{item.Type}}
      </div>
    </span>
  </div>
</div>
